@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";
@import "tailwindcss-animated";
@plugin '../lib/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@import "bytemd/dist/index.css";
@import './github.css';
@import './github-dark.css';
@import "./custom.css";
@import "./custom-dark.css";
@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:is(.dark *)); */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@theme {
  --color-primary: #18181B;
  --color-darkprimary: #FAFAFA;

  --color-secondary: #71717A;
  --color-darksecondary: #A1A1AA;

  --color-content: #3C3C3CB3;
  --color-darkContent: #EBEBEB99;

  --color-bgPrimary: #FFFFFF;
  --color-lighterBgPrimary: #F9F9F9;
  --color-darkBgPrimary: #1A1A1A;
  --color-darkerBgPrimary: #242424;

  --color-activeColor: #F4F4F5;
  --color-darkActiveColor: #27272A;

  --color-hoverColor: #F4F4F5;
  --color-darkHoverColor: #27272A;

  --color-borderColor: #E3E3E4;
  --color-darkBorderColor: #27272A;

  --color-tableHoverColor: #FAFAFA;
  --color-tableSelectColor: #F4F4F5;
  --color-darkTableColor: #27272A;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* 设置文档的最大宽度 */
  --spacing-detail-content: 812px;

  --shadow-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);

  /* md-style */
  --color-foreground: #09090b;
  --color-background: #ffffff;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-border: #e4e4e7;
  --color-accent: #f4f4f5;


  /* 动画 */
  --animate-fade-down: fade-down 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-sheet-fade-in: sheet-fade-in 0.5s cubic-bezier(0.31, 0.00, 0.00, 1.00);
  --animate-sheet-fade-out: sheet-fade-out 0.5s cubic-bezier(1.00, 0.00, 0.70, 0.99);
  --animate-sheetOverlay-fade-in: sheetOverlay-fade-in 0.5s cubic-bezier(0.31, 0.00, 0.00, 1.00);
  --animate-sheetOverlay-fade-out: sheetOverlay-fade-out 0.5s cubic-bezier(1.00, 0.00, 0.70, 0.99);
  --animate-opacity-in: opacity-in 0.3s ease-out;
  --animate-opacity-out: opacity-out 0.3s ease-out;
  --animate-scroll-mouse: scroll-mouse 3s ease-out infinite;
  --animate-rolling-text: rolling-text 4s infinite;
  --animate-scroll-to-left: scroll-to-left 60s linear infinite;
  --animate-rainbow: rainbow 12s linear infinite;
  --animate-loading: hideAndSeek 1s alternate infinite cubic-bezier(0.86, 0, 0.07, 1);
  ;

  @keyframes scroll-mouse {
    0% {
      transform: translateY(0);
      opacity: 0;
    }

    20% {
      transform: translateY(2px);
      opacity: 1;
    }

    100% {
      transform: translateY(8px);
      opacity: 0;
    }
  }

  @keyframes opacity-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes opacity-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-2px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes sheet-fade-in {
    0% {
      transform: translateX(-80vh);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes sheet-fade-out {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-80vh);
    }
  }

  @keyframes sheetOverlay-fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes sheetOverlay-fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes scroll-to-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes rolling-text {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }

    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }

    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }

    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }

    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }

    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }

    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }

  @keyframes rainbow {
    0% {
      --rainbow-right: #00a98e;
      --rainbow-left: #009ff7;
    }

    1.25% {
      --rainbow-right: #00a996;
      --rainbow-left: #009dfa;
    }

    2.5% {
      --rainbow-right: #00a99f;
      --rainbow-left: #009bfc;
    }

    3.75% {
      --rainbow-right: #00a9a7;
      --rainbow-left: #0098fd;
    }

    5% {
      --rainbow-right: #00a9b0;
      --rainbow-left: #0096fd;
    }

    6.25% {
      --rainbow-right: #00a9b8;
      --rainbow-left: #0093fd;
    }

    7.5% {
      --rainbow-right: #00a9c0;
      --rainbow-left: #2e90fc;
    }

    8.75% {
      --rainbow-right: #00a8c7;
      --rainbow-left: #4d8dfa;
    }

    10% {
      --rainbow-right: #00a8cf;
      --rainbow-left: #638af8;
    }

    11.25% {
      --rainbow-right: #00a7d5;
      --rainbow-left: #7587f5;
    }

    12.5% {
      --rainbow-right: #00a6dc;
      --rainbow-left: #8583f1;
    }

    13.75% {
      --rainbow-right: #00a6e2;
      --rainbow-left: #9280ed;
    }

    15% {
      --rainbow-right: #00a4e7;
      --rainbow-left: #9f7ce9;
    }

    16.25% {
      --rainbow-right: #00a3ec;
      --rainbow-left: #aa78e3;
    }

    17.5% {
      --rainbow-right: #00a2f1;
      --rainbow-left: #b574dd;
    }

    18.75% {
      --rainbow-right: #00a0f4;
      --rainbow-left: #be71d7;
    }

    20% {
      --rainbow-right: #009ff7;
      --rainbow-left: #c76dd1;
    }

    21.25% {
      --rainbow-right: #009dfa;
      --rainbow-left: #cf69c9;
    }

    22.5% {
      --rainbow-right: #009bfc;
      --rainbow-left: #d566c2;
    }

    23.75% {
      --rainbow-right: #0098fd;
      --rainbow-left: #dc63ba;
    }

    25% {
      --rainbow-right: #0096fd;
      --rainbow-left: #e160b3;
    }

    26.25% {
      --rainbow-right: #0093fd;
      --rainbow-left: #e65eab;
    }

    27.5% {
      --rainbow-right: #2e90fc;
      --rainbow-left: #e95ca2;
    }

    28.75% {
      --rainbow-right: #4d8dfa;
      --rainbow-left: #ed5a9a;
    }

    30% {
      --rainbow-right: #638af8;
      --rainbow-left: #ef5992;
    }

    31.25% {
      --rainbow-right: #7587f5;
      --rainbow-left: #f15989;
    }

    32.5% {
      --rainbow-right: #8583f1;
      --rainbow-left: #f25981;
    }

    33.75% {
      --rainbow-right: #9280ed;
      --rainbow-left: #f25a79;
    }

    35% {
      --rainbow-right: #9f7ce9;
      --rainbow-left: #f25c71;
    }

    36.25% {
      --rainbow-right: #aa78e3;
      --rainbow-left: #f15e69;
    }

    37.5% {
      --rainbow-right: #b574dd;
      --rainbow-left: #ef6061;
    }

    38.75% {
      --rainbow-right: #be71d7;
      --rainbow-left: #ed635a;
    }

    40% {
      --rainbow-right: #c76dd1;
      --rainbow-left: #eb6552;
    }

    41.25% {
      --rainbow-right: #cf69c9;
      --rainbow-left: #e8694b;
    }

    42.5% {
      --rainbow-right: #d566c2;
      --rainbow-left: #e46c44;
    }

    43.75% {
      --rainbow-right: #dc63ba;
      --rainbow-left: #e06f3d;
    }

    45% {
      --rainbow-right: #e160b3;
      --rainbow-left: #db7336;
    }

    46.25% {
      --rainbow-right: #e65eab;
      --rainbow-left: #d77630;
    }

    47.5% {
      --rainbow-right: #e95ca2;
      --rainbow-left: #d17a2a;
    }

    48.75% {
      --rainbow-right: #ed5a9a;
      --rainbow-left: #cc7d24;
    }

    50% {
      --rainbow-right: #ef5992;
      --rainbow-left: #c6811e;
    }

    51.25% {
      --rainbow-right: #f15989;
      --rainbow-left: #bf8418;
    }

    52.5% {
      --rainbow-right: #f25981;
      --rainbow-left: #b98713;
    }

    53.75% {
      --rainbow-right: #f25a79;
      --rainbow-left: #b28a0f;
    }

    55% {
      --rainbow-right: #f25c71;
      --rainbow-left: #ab8d0c;
    }

    56.25% {
      --rainbow-right: #f15e69;
      --rainbow-left: #a3900b;
    }

    57.5% {
      --rainbow-right: #ef6061;
      --rainbow-left: #9c920d;
    }

    58.75% {
      --rainbow-right: #ed635a;
      --rainbow-left: #949510;
    }

    60% {
      --rainbow-right: #eb6552;
      --rainbow-left: #8b9715;
    }

    61.25% {
      --rainbow-right: #e8694b;
      --rainbow-left: #83991b;
    }

    62.5% {
      --rainbow-right: #e46c44;
      --rainbow-left: #7a9b21;
    }

    63.75% {
      --rainbow-right: #e06f3d;
      --rainbow-left: #719d27;
    }

    65% {
      --rainbow-right: #db7336;
      --rainbow-left: #679e2e;
    }

    66.25% {
      --rainbow-right: #d77630;
      --rainbow-left: #5da035;
    }

    67.5% {
      --rainbow-right: #d17a2a;
      --rainbow-left: #51a13c;
    }

    68.75% {
      --rainbow-right: #cc7d24;
      --rainbow-left: #44a244;
    }

    70% {
      --rainbow-right: #c6811e;
      --rainbow-left: #34a44b;
    }

    71.25% {
      --rainbow-right: #bf8418;
      --rainbow-left: #1ba553;
    }

    72.5% {
      --rainbow-right: #b98713;
      --rainbow-left: #00a65b;
    }

    73.75% {
      --rainbow-right: #b28a0f;
      --rainbow-left: #00a663;
    }

    75% {
      --rainbow-right: #ab8d0c;
      --rainbow-left: #00a76c;
    }

    76.25% {
      --rainbow-right: #a3900b;
      --rainbow-left: #00a874;
    }

    77.5% {
      --rainbow-right: #9c920d;
      --rainbow-left: #00a87d;
    }

    78.75% {
      --rainbow-right: #949510;
      --rainbow-left: #00a985;
    }

    80% {
      --rainbow-right: #8b9715;
      --rainbow-left: #00a98e;
    }

    81.25% {
      --rainbow-right: #83991b;
      --rainbow-left: #00a996;
    }

    82.5% {
      --rainbow-right: #7a9b21;
      --rainbow-left: #00a99f;
    }

    83.75% {
      --rainbow-right: #719d27;
      --rainbow-left: #00a9a7;
    }

    85% {
      --rainbow-right: #679e2e;
      --rainbow-left: #00a9b0;
    }

    86.25% {
      --rainbow-right: #5da035;
      --rainbow-left: #00a9b8;
    }

    87.5% {
      --rainbow-right: #51a13c;
      --rainbow-left: #00a9c0;
    }

    88.75% {
      --rainbow-right: #44a244;
      --rainbow-left: #00a8c7;
    }

    90% {
      --rainbow-right: #34a44b;
      --rainbow-left: #00a8cf;
    }

    91.25% {
      --rainbow-right: #1ba553;
      --rainbow-left: #00a7d5;
    }

    92.5% {
      --rainbow-right: #00a65b;
      --rainbow-left: #00a6dc;
    }

    93.75% {
      --rainbow-right: #00a663;
      --rainbow-left: #00a6e2;
    }

    95% {
      --rainbow-right: #00a76c;
      --rainbow-left: #00a4e7;
    }

    96.25% {
      --rainbow-right: #00a874;
      --rainbow-left: #00a3ec;
    }

    97.5% {
      --rainbow-right: #00a87d;
      --rainbow-left: #00a2f1;
    }

    98.75% {
      --rainbow-right: #00a985;
      --rainbow-left: #00a0f4;
    }

    100% {
      --rainbow-right: #00a98e;
      --rainbow-left: #009ff7;
    }
  }

  @keyframes hideAndSeek {
    0% {
      /* transform: translateY(4rem); */
      transform: translateY(0rem);
    }

    100% {
      /* transform: translateY(0rem); */
      transform: translateY(4rem);
    }
  }
}


@layer utilities {
  .noscrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .noscrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }

  .overflow-wrap-anywhere {
    overflow-wrap: anywhere;
  }
}


@layer base {
  :root {
    --rainbow-right: #00a8cf;
    --rainbow-left: #638af8;
    /* animation: rainbow 12s linear infinite; */
  }

  .light {
    --scrollBarTrackColor: #F9F9F9;
    --scrollBarThumbColor: #E4E4E7;

  }

  .dark {
    --scrollBarTrackColor: #242424;
    --scrollBarThumbColor: #27272A;
  }

  /* 高亮显示搜索关键字 */
  .searchResult em {
    @apply text-[#003DFF] opacity-68 not-italic font-bold
  }

  .searchResult:hover em {
    @apply opacity-100
  }
}

/* 主要设置表格的样式 */
@layer components {
  :where(th label svg) {
    @apply text-primary;
  }

  :where(th label span)::after {
    @apply  !bg-bgPrimary;
  }

  .dark :where(th label svg) {
    @apply text-darkprimary;
  }

  .dark :where(th label span)::after {
    @apply  !bg-darkBgPrimary;
  }

}

::-webkit-scrollbar {
  width: 0px;
  height: 10%
}

::-webkit-scrollbar-track {
  background-color: var(--scrollBarTrackColor);
  border-radius: 10px;
}

/* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollBarThumbColor);
  border-radius: 10px;
}

@import "./custom.css";