services:
  postgres:
    image: postgres:18
    container_name: klausjin-postgres
    environment:
      POSTGRES_USER: your_dba
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: your_db
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - klausjin-network
    restart: always

  website:
    image: klausjin-website:latest
    container_name: klausjin-website
    env_file:
      - .env.production
    networks:
      - klausjin-network
    ports:
      - "127.0.0.1:3000:3000"
    restart: always
    
networks:
  klausjin-network:
    driver: bridge

volumes:
  postgres_data:
