@import "tailwindcss";
@plugin "@iconify/tailwind4";
@import "tailwindcss-animated";
@custom-variant dark (&:where(.dark, .dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@theme {
  --color-primary: #18181B;
  --color-darkprimary: #FAFAFA;

  --color-secondary: #71717A;
  --color-darksecondary: #A1A1AA;

  --color-bgPrimary: #FFFFFF;
  --color-darkBgPrimary: #09090B;

  --color-activeColor: #F4F4F5;
  --color-darkActiveColor: #27272A;

  --color-hoverColor: #F4F4F5;
  --color-darkHoverColor: #27272A;

  --color-borderColor: #E3E3E4;
  --color-darkBorderColor: #27272A;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;


  /* 动画 */
  --animate-fade-down: fade-down 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-sheet-fade-in: sheet-fade-in 0.5s cubic-bezier(0.31, 0.00, 0.00, 1.00);
  --animate-sheet-fade-out: sheet-fade-out 0.5s cubic-bezier(1.00, 0.00, 0.70, 0.99);
  --animate-sheetOverlay-fade-in: sheetOverlay-fade-in 0.5s cubic-bezier(0.31, 0.00, 0.00, 1.00);
  --animate-sheetOverlay-fade-out: sheetOverlay-fade-out 0.5s cubic-bezier(1.00, 0.00, 0.70, 0.99);
  --animate-opacity-in: opacity-in 0.3s ease-out;
  --animate-opacity-out: opacity-out 0.3s ease-out;
  --animate-scroll-mouse: scroll-mouse 3s ease-out infinite;

  @keyframes scroll-mouse {
    0% {
      transform: translateY(0);
      opacity: 0;
    }

    20% {
      transform: translateY(2px);
      opacity: 1;
    }

    100% {
      transform: translateY(8px);
      opacity: 0;
    }
  }

  @keyframes opacity-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes opacity-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-2px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes sheet-fade-in {
    0% {
      transform: translateX(-80vh);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes sheet-fade-out {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-80vh);
    }
  }

  @keyframes sheetOverlay-fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes sheetOverlay-fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

}


@layer base {
  .light {
    --scrollBarTrackColor: #FFFFFF;
    --scrollBarThumbColor: #E4E4E7;

  }

  .dark {
    --scrollBarTrackColor: #09090B;
    --scrollBarThumbColor: #27272A;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 10%
}

::-webkit-scrollbar-track {
  background-color: var(--scrollBarTrackColor);
  border-radius: 10px;
}

/* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollBarThumbColor);
  border-radius: 10px;
}